<%= render "layouts/header" %>

<div class="app-container">
  <%= render "layouts/flash_messages" %>
  <%= yield %>
</div>

<%= render "layouts/footer" %>

<%= javascript_pack_tag 'application', *Array(react_bundles_to_render), defer: true %>

<%= google_analytics if enable_google_analytics? %>
